<!doctype html>
<html lang="en">
  <head>
    <%- include("components/head") %>

</head>
  <body >
      

    <%- include("components/nav") %>
    <section>
        <div class="container-fluid my-auto py-5" style="font-size: 40px;">

                <div id="talkjs-container" style="width: 100%; margin: 30px;height: 500px;">
                    <i>Loading chat...</i>
                </div>

                <script>
                    (function(t,a,l,k,j,s){
                        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
                        ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
                    Talk.ready.then(function () {

                        const meID='<%=auth.id%>'
                        var me = new Talk.User({
                            id: meID,
                            name: '<%-auth.username%>',
                            email: '<%-auth.email%>',
                            photoUrl: '<%-auth.avatarUrl%>',
                            role:'<%-auth.roles[auth.roles.length-1]%>'
                        });
                        window.talkSession = new Talk.Session({
                            appId: 'tyAo8PId',
                            me: me,
                        });
                        var other = new Talk.User({
                            id: '<%-user._id%>',
                            name: '<%-user.username%>',
                            email: '<%-user.email%>',
                            photoUrl: '<%-user.avatarUrl%>',
                            role:'<%-user.roles[user.roles.length-1]%>'

                        });

                        var conversation = talkSession.getOrCreateConversation(
                            Talk.oneOnOneId(me, other)
                        );
                        conversation.setParticipant(me);
                        conversation.setParticipant(other);

                        var inbox = talkSession.createInbox({ selected: conversation });
                        inbox.mount(document.getElementById('talkjs-container'));
                    });
                </script>
 

                    
            

            
        </div>
    </section>
    <%- include("components/footer") %>
    </body>
</html>